/* override */
#header, #content, #footer {
  width: 100%; }

#footer {
  border-top: 0px none;
  margin-bottom: 0; }

#footercontent {
  border: 0px none;
  padding: 0; }

header {
  background: #4a4a4a url(/CrsMedia/P1002/bbe/pattern-bg.jpg) repeat-x;
  margin-bottom: .715em; }

#ws-utility {
  border-bottom-color: #666; }

#ws-utility a {
  color: #bbb; }

#ws-utility a:hover {
  color: #fff; }

#header {
  margin: 0 auto;
  max-width: 920px; }

.logo {
  margin: 0 auto;
  max-width: 212px;
  min-width: 106px;
  padding: 2.143em 0; }

.logo img {
  display: block;
  width: 100%;
  height: auto; }

#footer {
  max-width: 920px;
  margin: 0 auto;
  padding: 1.429em 20px;
  text-align: center;
  border-top: 1px solid #ddd; }

#footercontent {
  font-size: .858em; }

@media screen and (max-width: 700px) {
  .logo {
    padding: 4.1666667% 0;
    width: 29.445%; } }
@media screen and (max-width: 500px) {
  .logo {
    padding: 1.429em 0;
    width: 148px; } }