$white: #fff;
$yellow: #ff0;
$pink:#ffc0cb;
$tomato: #ff6347;
$lavender:#e6e6fa;
$lightcoral: #f08080;
$cadetblue: #5f9ea0;
$lightgrey: #999;
$mediumlightgrey: #666;
$darkgrey: #333;
$black: #000;

$bodybackground: $white;
$bodycolor: $black;
$titlebackground: $lightcoral;
$headingbackground: $cadetblue;
$headerimagebackground: $lightgrey;
$headingcolor: $mediumlightgrey;
$dropdownbackground: $lightgrey;
$dropdowncolor: $tomato;


body {
  background-color: $bodybackground;
  color: $bodycolor;

}

.headerwrapper {
  .logo img {
    background-color: $headerimagebackground;
  }
}

ul {
  background-color: $dropdownbackground;

  li {
    color: $dropdowncolor;
  }
}

